{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block content %}

<div class='row'>
<div class='col-sm-8 col-sm-offset-2'>
<h1>Register for free!</h1>

<form method="post" action=".">
  {% csrf_token %}
  {{ form|crispy }}
  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Join' %}" />
</form>
<br>
</div>

<div class='col-sm-5 col-sm-offset-2 text-align-center'>
<br>
<p><b>Need to <a href="{% url 'auth_login' %}">Login</a>?</b></p>

</div>

{% endblock %}
