{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block css %}

	{{ block.super }}

	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css"/>

{% endblock %}

<style>
    {% block style %}
      
      body {
        background-image: url("{% static "img/tlo_strony.jpg" %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .jumbotron {
        width:25%;
        padding: 1% 0;
        float: left;
		opacity: 0.94;

      }

      .vvv {
      	background-color:white;
		opacity: 0.96;
		border-radius: 10px;
		text-align: left;
		margin: 3%;
		padding: 4% 1% 4% 1%;
		border: 1px solid black;
	  }

	  h2{
	  	text-align: center;
	  }
    {% endblock %}
</style>




{% block base %}
	<div class="vvv">
		<h2>Users Base</h2><hr>
		<table id="example" class="display" cellspacing="0" width="100%">
			<thead>
			  <tr>
			  	<th>Nr.</th>
			    <th>Full Name</th>
			    <th>Specialization</th>		
			    <th>Main language</th>
			    <th>Age</th>
			    <th>E-mail</th>
			  </tr>
			 </thead>
			 <tbody>
			  {% for cv in cvs %}
				  <tr>
				  	<td>{{forloop.counter}}.</td>
				    <td><a href="{% url "proj.views.cv_detail" pk=cv.pk %}">{{cv.name}} {{cv.surname}}</a></td>
				    <td>{{cv.specialization}}</td>

				    {% if cv.main_language %}	
				    	<td>{{cv.main_language}}</td>
				    {% else %}
				    	<td> </td>
				    {% endif %}

				    <td>{{ cv.age }} </td>
				    <td>{{cv.email}}</td>
				  </tr>
			  {% endfor %}
			  </tbody>
		</table><br>


	</div>
{% endblock %}





{% block javascript %}

	{{ block.super }} <!-- This makes sure the script form base.html are loaded. It's almost like supeerclassing -->

	<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	    <script>
	      $(document).ready(function() {
	        $('#example').DataTable();
	      });
	</script>

{% endblock %}