{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<style>
    {% block style %}
      
      body {
        background-image: url("{% static "img/tlo_strony.jpg" %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .jumbotron{
        width:40%;
        opacity: 0.94;
        padding: 2px;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
      }

      h4{
        text-align: center;
      }

      button{
        width: 100%;
      }


    {% endblock %}
</style>







{% block profile %}

<br>
      <div class="jumbotron">

        <h4>Define the role:</h4>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form|crispy }}

        <h4>Choose a group: </h4>
        {% for m in mem %}
          <p><button type="submit" name = "group" value="{{m.group}}" class="save btn btn-default">{{m.group}}</button></p>
          

        {% endfor %}
        </form>
      </div>




{% endblock %}