{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<style>
    {% block style %}
      
      body {
        background-image: url("{% static "img/tlo_strony.jpg" %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .jumbotron{
        width:55%;
        opacity: 0.94;
        border: 1px solid black;
      }

      h2{
        font-weight: bold;
        font-size: 29px;
      }

      .ramka{
        border-style: groove;
        border-radius: 7px;
        padding: 20px;
      }


      .srodkowe{
        font-size: 20px;
        text-align: left;
        position: fixed;
        display: inherit;
        list-style-type:none;
        padding-left: 660px;
        padding-top: 38px;
      }


      .btn-lg{
        font-size: 25px;

      }

      .img{
        border-style: groove;
        border-radius: 10px;
        position: absolute;
        margin-left: 385px;
        margin-top: -100px;
        overflow: hidden;
      }

    
    span.glyphicon{
        margin-bottom: 9px;
        min-width: 355px;
        text-align: center;
        font-family: Courier New;
    }

    .boczne_2{

        margin-bottom: 20px;
        border-radius: 10px;
        text-shadow: #666 .1em .1em .1em;
        box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    }

    .boczne_1{
        margin-bottom: 20px;
        border-radius: 10px;
        text-shadow: #666 .1em .1em .1em;
        box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    }

    


    {% endblock %}
</style>


{% block profile %}
    {% if cv.author == request.user %}
        <ul class="srodkowe">
            <li class="boczne_1"><a class="btn-lg btn-warning" href="{% url "edit_cv" pk=cv.pk %}"><span class="glyphicon"> Update main info </span></a></li>
            <li class="boczne_1"><a class="btn-lg btn-warning" href="/edit_profile"><span class="glyphicon"> Update education </span></a></li>
            <li class="boczne_1"><a class="btn-lg btn-warning" href="/update_exp"><span class="glyphicon"> Update experience </span></a></li>
            <li class="boczne_1"><a class="btn-lg btn-warning" href="/skill_settings"><span class="glyphicon"> Specify skills </span></a></li>
        
        
            <li class="boczne_2" ><a class="btn-lg btn-info" href="/groups"><span class="glyphicon"> My Groups </span></a></li>
        </ul>
    {% endif %}
    {% if not cv.author == request.user %}
        <ul class="srodkowe">
            <li class="boczne_2"><a class="btn-lg btn-info" href="{% url "send_message" pk=cv.pk %}"><span class="glyphicon"> Send a message </span></a></li>
            <li class="boczne_2"><a class="btn-lg btn-info" href="{% url "choose_group" pk=cv.pk %}"><span class="glyphicon"> Add to group </span></a></li>
        </ul>
    {% endif %}
        <p></p><br>
        <div class="jumbotron">
            
            <h2>Curriculum Vitae</h2> <br>
            {% if cv.thumbnail %}
                <p class="img"><img src="/media/{{cv.thumbnail}}" width="155" /></p>
            {% endif %}
            <br>


            <h3>Information</h3>
            <div class="ramka">
                <p><b>Name:</b> {{ cv.name }}</p> 
                <p><b>Surname:</b> {{cv.surname}}</p>
                <p><b>City:</b> {{ cv.city }}</p>
                {% if cv.birth_date %}
                    <p><b>Age:</b> {{ cv.age }}</p>
                {% endif %}
                <p><b>Tel.: </b>{{ cv.telephone }}</p>
                <p><b>E-mail:</b> {{ cv.email }}</p>
            </div><br>


            <div class="ramka">
                {% if cv.main_language %}
                    <p><b>Main language: </b>{{cv.main_language }}</p>
                {% endif %}
                {% if cv.specialization %}
                    <p><b>Specialization:</b> {{cv.specialization}}</p>
                {% endif %}
                {% if cv.interests %}
                    <p><b>Interests:</b> {{cv.interests}}</p>
                {% endif %}
            </div>

<!-- start first card -->
            <h3>Skills</h3>
            <div class="ramka">
                {% for skill in user_skills %}
                    {% if cv.author == skill.user %}

                            <p><b>{{skill.skill_name}}</b> - {{skill.level}}</p>

                    {% endif %}
                {% endfor %}
            </div>
<!-- end of first card -->

<!-- start second card -->
            <h3>Education</h3>  
                    {% for lin in user_links %}

                        {% if cv.author == lin.user %}

                                                     

                                <div class="ramka">
                                    <p><b>University:</b> {{ lin.university }}</p>
                                    {% if lin.city_1 %}
                                        <p><b>City:</b> {{ lin.city_1 }}</p>
                                    {% endif %}
                                    {% if lin.grade %}
                                        <p><b>Grade:</b> {{ lin.grade }}</p>
                                    {% endif %}
                                    <p><b>Field of study:</b> {{ lin.field }}</p>
                                    {% if lin.study_1 %}
                                        <p><b>Study period:</b> {{ lin.study_1 }} - {{ lin.study_2 }}</p>
                                    {% endif %}
                                    {% if lin.description_1 %}
                                        <p><b>Description:</b> {{ lin.description_1 }}</p>
                                    {% endif %}
                                </div><br>

                        {% endif %}

                    {% endfor %}
<!-- end of second card -->

<!-- start third card -->
            <h3>Experience</h3> 
                     {% for fir in user_firms %}

                        {% if cv.author == fir.user %}

                                                      

                                <div class="ramka">
                                    <p><b>Firma:</b> {{ fir.firma }}</p>
                                    {% if fir.city_2 %}
                                        <p><b>City:</b> {{ fir.city_2 }}</p>
                                    {% endif %}
                                        <p><b>Position:</b> {{ fir.position }}</p>
                                    {% if fir.fir_1 %}
                                        <p><b>Work period:</b> {{ fir.fir_1 }} - {{ fir.fir_2 }}</p>
                                    {% endif %}
                                    {% if fir.description_2 %}
                                        <p><b>Description:</b> {{ fir.description_2 }}</p>
                                    {% endif %}
                                </div><br>




                        {% endif %}

                    {% endfor %}

<!-- end of third card -->


        {% if  cv.summary %}
            <h3>About Me</h3>
                <div class="ramka">
                        <p>{{cv.summary}}</p>
                </div>
        {% endif %}

{% endblock %}