{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<style>
    {% block style %}
      
      body {
        background-image: url("{% static "img/tlo_strony.jpg" %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .jumbotron{
        width:40%;
        opacity: 0.94;
        padding: 2px;
        float: left;
        margin-left: 5%;
        border: 1px solid black;
      }

      h3{
        text-align: center;
      }

      h4{
        text-align: center;
      }

      .jumbo2{
        margin-top: 2%;
        border: 1px solid black;              /* Little trick for good layout. */
        border-style: dotted;
        border-color: white white white white;
      }


      #name{
        font-size: 16px;

      }

      #desc{
        padding: 3%;
        font-size: 12px;
        border: 1px solid black;
      }

      span.desc2{
        font-weight: bold;
      }

      #info{
        font-size: 12px;
      }

    {% endblock %}
</style>



{% block profile %}

  <br>
      <div class="jumbotron">

        <h4>Create a new group here:</h4>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" name = "create" class="save btn btn-default">Go</button>
            <p>
                    {% if messages %}
                      {% for message in messages %}
                        <p>{{ message }}</p>
                      {% endfor %}
                    {% endif %}
                    </p>
        </form>
      </div>



      <div class="jumbotron">
      <legend>Hint.</legend>
        <p id="info">On this page, you have permission to freely create your own groups and check which projects you belong. You can add users to your group by browsing their profiles and clicking the button "add to group".<br><br>  Only <b>Leader</b> have permission to delete their own groups.<br><b>Users</b> can only leave a group at their own request.</p>
      </div>



              {% for g in gr %}
              
               <div class="jumbotron">
                <div class="jumbo2">
                  <form method="POST" class="post-form"> {% csrf_token %}
                    <p id="name"><b>Group's name:</b> {{g.name}}</p><br>
                    {% for cv in cvs %}
                      {% for membership in g.membership_set.all %}
                        {% if membership.person.id_person == cv.id %}
                          <p><b>Member:</b> <a href="{% url "proj.views.cv_detail" pk=cv.pk %}"> {{cv.name}} {{cv.surname}} </a> - {{ membership.role }}</p>                            
                        {% endif %}
                      {% endfor %}
                                          
                    {% endfor %}





                    
                    <br>
                    <span class="desc2">Group's description:</span>
                    <p id="desc">{{g.description}}</p><br>
                   
                         <br><br><br>
                            <button style="float: left" type="submit" name = "leave"  value = "{{g.name}}" class="save btn btn-default">Leave</button>
                         
                            <button style="float: right" type="submit" name = "delete"  value = "{{g.name}}" class="save btn btn-default">Delete</button>
                     
                  </form>
                  <br><br>
                            
                    </div>
                    </div>
                    
                {% endfor %}
             
           
       

{% endblock %}