{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<style>
    {% block style %}
      
      body {
        background-image: url("{% static "img/tlo_strony.jpg" %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;

      }

      .jumbotron p{
        font-size: 19px;
      }

      .rama1{
        margin:0;
      }

      .li1{
        width:30%;
        padding-right: 10px;
      }

      .lista1{
        width:112%;

      }

      a.test1{
        width: auto;
        height: 500px;
        font-size: 35px;
        padding-top:60%;
        opacity: 0.95;
        margin-left: 3%;
        margin-top: 30%;
      }

      a.test1:hover{
        padding-top:50%;
        font-size: 26px;
      
      }

      a.test2{
        width: auto;
        height: 500px;
        font-size: 35px;
        padding-top:60%;
        opacity: 0.95;
        margin-left: 3%;
        margin-top: 30%;
      }
      a.test2:hover{
        padding-top:50%;
        font-size: 26px;

      }

      a.test3{
        width: auto;
        height: 500px;
        font-size: 35px;
        padding-top:60%;
        opacity: 0.95;
        margin-left: 3%;
        margin-top: 30%;
      }
      a.test3:hover{
        padding-top:50%;
        font-size: 26px;

      }

      h2{
        text-align: center;
        font-size: 40px;
      }

    {% endblock %}
</style>

{% block jumbotron %}
<!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2> For Programmers. By Programmers. </h2><hr><br>
		<p>From now on, this site will allow you to find people who share your interests in the IT area. You will have the opportunity to make new friends, communicate with selected persons, also create your own CV based on our template and arrange quite a new group to work on the poroject.
		All of this, to better coordinate the work with people which you involve your plans for the near future.
		<br><br>
		I hope you enjoy.<br> #Cheers </p>
        <p>
          <a class="btn btn-lg btn-primary" href="/accounts/register/" role="button">Register now! &raquo;</a>
        </p>
      </div>
{% endblock %}

  



{% block row_2 %}
<div class="rama1">
      <ul class="lista1">
      	<li class="li1"><a class='test1' href="/base_cv"> <span>Users Base</span> </a></li>
        {% for cv in cvs %}
          <li class="li1"><a class='test2' href="{% url "proj.views.cv_detail" pk=cv.pk %}"><span>Cv</span></a></li>   
        {% endfor %}
        <li class="li1"><a class="test3" href="/groups"> <span>Groups</span> </a></li>
      </ul>


{% endblock %}





{% block javascript %}

  {{ block.super }} <!-- This makes sure the script form base.html are loaded. It's almost like supeerclassing -->

<script>
$( "a.test1" ).hover(
  function() {
    $( this ).find("span").remove();
    $( this ).append( $( "<span> Search through users base to find individual team members. </span>" ) );
  }, function() {
    $( this ).find( "span:last" ).remove();
    $( this ).append( $("<span> Users Base </span>") );
  }
);
 
$( "a.test2" ).hover(
  function() {
    $( this ).find("span").remove();
    $( this ).append( $( "<span> Change your profile information and check out how others see you. </span>" ) );
  }, function() {
    $( this ).find( "span:last" ).remove();
    $( this ).append( $("<span> Cv </span>") );
  }
);

$( "a.test3" ).hover(
  function() {
    $( this ).find("span").remove();
    $( this ).append( $( "<span> Manage your project groups and their members. </span>" ) );
  }, function() {
    $( this ).find( "span:last" ).remove();
    $( this ).append( $("<span> Groups </span>") );
  }
);
</script>

{% endblock %}