{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<style>
    {% block style %}
      
      body {
        background-image: url("{% static "img/tlo_strony.jpg" %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .jumbotron{
      	width:50%;
      }

      .li1{
		float: none;
		margin: 2% 0;
	}

      .li1 a{
      	height: 3em;
      	width: 22em;
      	padding: 1.7% 2%;
      	margin: 0;
      }

    {% endblock %}
</style>


{% block profile %}
 	<a class="btn-lg btn-default" href="{% url "proj.views.new_cv" %}" ><span class="glyphicon glyphicon-plus"> Create your profile </span></a>
 	<p></p>
	<ul class="lista1">
 		{% for cv in cvs %}
 			<li class="li1"><a href="{% url "proj.views.cv_detail" pk=cv.pk %}">Curriculum Vitae - {{cv.surname}}</a></li>   
		{% endfor %}
	</ul>
{% endblock %}