{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<style>
    {% block style %}
      
      body {
        background-image: url("{% static "img/tlo_strony.jpg" %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .jumbotron{
        width:55%;
        opacity: 0.94;
        border: 1px solid black;
        margin:auto;
        margin-top: 5%;
        text-align: center;
      }

      h2{
      	text-align: left;
      }
    


    {% endblock %}
</style>


{% block content %}
<div class="jumbotron">
	<h2>Register here:</h2><hr>
	<form action="/accounts/register/"  method="post">{% csrf_token %}
	{{form|crispy}}
	
	<input type="submit" value="Register" class="btn btn-lg btn-primary"/>

	</form>
</div>
{% endblock %}