{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<style>
    {% block style %}
      
      body {
        background-image: url("{% static "img/tlo_strony.jpg" %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .jumbotron{
        width:65%;
        opacity: 0.9;
        margin:auto;
        margin-top:100px;
        border: 1px solid black;
      }

      h3{

        text-align: center;
      }
      

    {% endblock %}
</style>



{% block profile %}
<div class="jumbotron">
  <form method="POST" action=''>
  {% csrf_token %}

    <h3>Send a private message to <b>{{cvs.name}} {{cvs.surname}}</b> </h3><br>

  {{ form|crispy }}

  <input type='submit' value='Send !' />



  </form>

</div>

{% endblock %}