{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<style>
    {% block style %}
      
      body {
        background-image: url("{% static "img/tlo_strony.jpg" %}");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }

      .jumbotron{
        opacity: 0.93;
        width:90%;
        margin:auto;
        border: 1px solid black;
      }

      .link-formset{
        padding-bottom: 2%;
        padding-left: 21%;
      }
      
      h3{
        text-align: center
      }

      p{
        float: left;
        padding-right: 4%;
      }



    {% endblock %}
</style>


{% block profile %}
    <p></p>
    <div class="jumbotron">

        <form method="post">
            {% csrf_token %}

            {{ skill_formset.management_form }}
            <h3> Specify your skills</h3><br>
            {% for skill_form in skill_formset %}
                <div class="link-formset">
                    <hr width="74%" align="left">
                     <p style="font-size:15px">
                     Name of skill: 
                        {{ skill_form.skill_name }}
                        {% if skill_form.skill_name.errors %}
                            {% for error in skill_form.skill_name.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}

                    

                     Level: 
                        {{ skill_form.level }}
                        {% if skill_form.level.errors %}
                            {% for error in skill_form.level.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        {% endif %}
                       </p>
                    </div>
                    
            {% endfor %}

            <br><br>


            <input type="submit" value="Update Profile" class="button"/>


        </form><br>

        {% if skill_formset.non_form_errors %}
            {% for error in skill_formset.non_form_errors %}
                {{ error|escape }}
            {% endfor %}
        {% endif %}

        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <!-- Include formset plugin - including jQuery dependency -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="{% static 'js/jquery.formset.js' %}"></script>
            <script>
                $('.link-formset').formset({
                    addText: 'Add next',
                    deleteText: 'Remove'
                });
            </script>

    
  </div>
{% endblock %}